extends layout

block content
  mixin button(prefix, name)
    section.btn-section
      block
      .btn-row
        .btn-col: input(class="#{prefix}-#{name}", type="button", value="input.#{prefix}-#{name}")
        .btn-col: input(class="#{prefix}-#{name} hover", type="button", value="input.#{prefix}-#{name}.hover")
        .btn-col: input(class="#{prefix}-#{name} active", type="button", value="input.#{prefix}-#{name}.active")
        .btn-col: input(class="#{prefix}-#{name} disabled", type="button", value="input.#{prefix}-#{name}.disabled")
      .btn-row
        .btn-col: div(class="#{prefix}-#{name}") div.#{prefix}-#{name}
        .btn-col: div(class="#{prefix}-#{name} hover") div.#{prefix}-#{name}.hover
        .btn-col: div(class="#{prefix}-#{name} active") div.#{prefix}-#{name}.active
        .btn-col: div(class="#{prefix}-#{name} disabled") div.#{prefix}-#{name}.disabled
      .btn-row
        .btn-col: a(class="#{prefix}-#{name}") a.#{prefix}-#{name}
        .btn-col: a(class="#{prefix}-#{name} hover") a.#{prefix}-#{name}.hover
        .btn-col: a(class="#{prefix}-#{name} active") a.#{prefix}-#{name}.active
        .btn-col: a(class="#{prefix}-#{name} disabled") a.#{prefix}-#{name}.disabled
      .btn-row
        .btn-col: button(class="#{prefix}-#{name}") button.#{prefix}-#{name}
        .btn-col: button(class="#{prefix}-#{name} hover") button.#{prefix}-#{name}.hover
        .btn-col: button(class="#{prefix}-#{name} active") button.#{prefix}-#{name}.active
        .btn-col: button(class="#{prefix}-#{name} disabled") button.#{prefix}-#{name}.disabled


  +button("button", "default")
  +button("button", "primary")
  +button("button", "warning")
  +button("button", "danger")
  +button("button", "success")
  +button("button", "transparent")